.btn-primary {
    background-color: var(--color-background-primary);
    border: none;
    color: var(--color-black);
}

.btn-primary:active,
.btn-primary:hover {
    background-color: var(--color-background-secondary);
    border: none;
    color: var(--color-white);
}
