:root {
  --color-primary: #939BDE;
  --color-secondary: #0a014f;
  --color-tertiary: #A8C5EB;
  --color-accent: #b118c8;
  --color-light: #F3F8F2;
  --color-white: #ffffff;
  --color-black: #000000;

  --color-background-primary: var(--color-primary);
  --color-background-secondary: var(--color-secondary);
  --color-background-tertiary: var(--color-tertiary);
  --color-background-accent: var(--color-accent);
  --color-background-light: var(--color-light);
  --color-background-white: var(--color-white);
  --color-background-black: var(--color-black);

  --color-text-primary: var(--color-primary);
  --color-text-secondary: var(--color-secondary);
  --color-text-tertiary: var(--color-tertiary);
  --color-text-accent: var(--color-accent);
  --color-text-light: var(--color-light);
  --color-text-white: var(--color-white);
  --color-text-black: var(--color-black);
}

.custom-navbar {
  background-color: var(--color-secondary);
}

.navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-nav .nav-link:focus, 
.navbar-nav  {
  color: #ffffff;
  
}

.nav-link:hover {
  scale: 110%;
  color: #A8C5EB!important;
}