:root {
  --color-primary: #939BDE;
  --color-secondary: #0a014f;
  --color-tertiary: #A8C5EB;
  --color-accent: #b118c8;
  --color-light: #F3F8F2;
  --color-white: #ffffff;
  --color-black: #000000;

  --color-background-primary: var(--color-primary);
  --color-background-secondary: var(--color-secondary);
  --color-background-tertiary: var(--color-tertiary);
  --color-background-accent: var(--color-accent);
  --color-background-light: var(--color-light);
  --color-background-white: var(--color-white);
  --color-background-black: var(--color-black);

  --color-text-primary: var(--color-primary);
  --color-text-secondary: var(--color-secondary);
  --color-text-tertiary: var(--color-tertiary);
  --color-text-accent: var(--color-accent);
  --color-text-light: var(--color-light);
  --color-text-white: var(--color-white);
  --color-text-black: var(--color-black);
}


.custom-navbar {
  background-color: var(--color-secondary);
}

.custom-footer {
  background-color: #b118c8;
}

.navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-nav .nav-link:focus,
.navbar-nav {
  color: #ffffff;

}

.nav-link:hover {
  scale: 110%;
  color: #A8C5EB !important;
}

#ai-button:hover {
  scale: 105%;
  animation: shaking 0.5s infinite;
}

@keyframes shaking {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(0deg);
  }

  70% {
    transform: rotate(4deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


.btn-primary {
    background-color: #A8C5EB!important;
    color: black!important;
    font-weight: bold!important;
}

.btn-primary:hover {
  color: White!important;
}

/* Used for content */
.content-grid {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10%;
  padding-right: 13%;
  gap: 40px; 
}

.content-item {
  flex: 0 0 calc(50% - 20px);
  padding: 20px;
  border: 3px solid #0a014f;
  border-radius: 55px;
  box-sizing: border-box;
  /* transition: transform .2s; */
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}


.content-item:hover {
  /* transform: scale(1.02);  */
  border-color: #A8C5EB;
}

body, html {
  height: 100%;
  margin: 0;
}

#app { /* This might be different depending on how your React app is structured. It's the main div that wraps your whole app content, including the footer. */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

/* Modal */
/* .modal-image {

} */
