:root {
  --color-primary: #939BDE;
  --color-secondary: #0a014f;
  --color-tertiary: #A8C5EB;
  --color-accent: #b118c8;
  --color-light: #F3F8F2;
  --color-white: #ffffff;
  --color-black: #000000;

  --color-background-primary: var(--color-primary);
  --color-background-secondary: var(--color-secondary);
  --color-background-tertiary: var(--color-tertiary);
  --color-background-accent: var(--color-accent);
  --color-background-light: var(--color-light);
  --color-background-white: var(--color-white);
  --color-background-black: var(--color-black);

  --color-text-primary: var(--color-primary);
  --color-text-secondary: var(--color-secondary);
  --color-text-tertiary: var(--color-tertiary);
  --color-text-accent: var(--color-accent);
  --color-text-light: var(--color-light);
  --color-text-white: var(--color-white);
  --color-text-black: var(--color-black);
}

.custom-navbar {
  background-color: var(--color-secondary);
}

.navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-nav .nav-link:focus, 
.navbar-nav  {
  color: #ffffff;
  
}

.nav-link:hover {
  scale: 110%;
  color: #A8C5EB!important;
}

.chatbox {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #eee;
  height: 400px;
  overflow-y: auto;
  padding: 20px;
}

.chatbox::-webkit-scrollbar {
  width: 10px;
}

.chatbox::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}
.typing-cursor {
  display: inline-block;
  width: 0.5em;
  height: 1em;
  background-color: currentColor;
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  from, to { opacity: 1; }
  50% { opacity: 0; }
}
